<div>
  <div>
    <h1>
      All praise <%=@player.name%>, ruler of <%=@player.kingdom%>!
    </h1>
  </div>
</div>

<div>
  <div>
    <h3>
      All praise <%=@player.name%>, ruler of <%=@player.kingdom%>!
    </h3>
  </div>
</div>