<div>
  <div>
    <h1>
      All praise <%=@player.name%>, ruler of <%=@player.kingdom%>!
    </h1>
  </div>
</div>
<hr>
<div>
  <div>
    <h3>
      Your kingdom consists of <%=@player.buildings_count%> magnificent buldings
    </h3>
  </div>
</div>
<hr>
<img src="https://cdn.onlinewebfonts.com/svg/img_571041.png" width="500" height="500" class="d-inline-block align-center" alt="" loading="lazy">