<h1>Sign up for Diplomacy!</h1>

<form action="/insert_player" method="post">

  <div>
    <label for="email_box">Player email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="name_box">Name yourself</label>
      
    <input type="text" id="name_box" name="query_name">
  </div>
         
  <div>
    <label for="kingdom_box">Name your kingdom</label>
      
    <input type="text" id="kingdom_box" name="query_kingdom">
  </div>
         
  <%# <div>
    <label for="steel_amount_box">Steel amount</label>
      
    <input type="text" id="steel_amount_box" name="query_steel_amount">
  </div> %>
         
  <%# <div>
    <label for="clay_amount_box">Clay amount</label>
      
    <input type="text" id="clay_amount_box" name="query_clay_amount">
  </div>
         
  <div>
    <label for="grain_amount_box">Grain amount</label>
      
    <input type="text" id="grain_amount_box" name="query_grain_amount">
  </div>
         
  <div>
    <label for="points_box">Points</label>
      
    <input type="text" id="points_box" name="query_points">
  </div>
         
  <div>
    <label for="buildings_count_box">Buildings count</label>
      
    <input type="text" id="buildings_count_box" name="query_buildings_count">
  </div>
         
  <div>
    <label for="sent_requests_count_box">Sent requests count</label>
      
    <input type="text" id="sent_requests_count_box" name="query_sent_requests_count">
  </div>
         
  <div>
    <label for="received_requests_count_box">Received requests count</label>
      
    <input type="text" id="received_requests_count_box" name="query_received_requests_count">
  </div> %>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Establish your kindgodm! (Sign up)
  </button>
</form>

<hr>

<p>
  Or, <a href="/player_sign_in">Sign in</a> instead.
</p>
